<% provide(:li_class_log, "class=active") %>
<h1> Login </h1>
<%= form_tag session_path do %>
  <div class="field">
    <%= label_tag :email %><br>
    <%= email_field_tag :email, params[:email] %>
  </div>

  <div class="field">
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </div>

  <div class="action">
    <%= submit_tag "Login" %>
  </div>

<% end %>
